@import url('https://fonts.googleapis.com/css?family=Damion|Great+Vibes|Pathway+Gothic+One|Paytone+One|Spinnaker&display=swap');


.App {
  height: 100%;
  font-family: 'Pathway Gothic One', sans-serif;
}

.App-header {
  width: 100%;
  min-height: 100vh;
}

a:link, a:visited, a:active {
  color:var(--green);
  text-decoration: none;
}

a:hover {
  color: red;
}

@media screen and (max-width: 800px) {
  .App-header {
    margin-bottom: 75vh;
  }
}