#portfolio {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    height: 250vh;
    background-color:  #0a024b;
}
.portfolio {
    margin-top: 10vh;
    display: flex;
    width: 35%;
    display: block;
}



.projectTitles {
    width: 40%;
    text-align: left;
    line-height: 1.5em;
    text-align: justify;
    color: white;
    font-size: 2.75vh;
    font-family: 'Pathway Gothic One', sans-serif;
}


h2 {
    letter-spacing: .05em;
    text-transform: uppercase;
    font-family: 'Spinnaker', sans-serif;
    font-size: 2.75vh;
}


.projectsList{
  position: absolute;
  width: 75vw;
  height: 75vh;
  box-sizing: border-box;
  opacity: 0.8;
  color: white;
  padding: 10px;
    
}
.projectsList a {
    letter-spacing: .05em;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 4vh;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.projectsList a:hover{
    color: red;
}
.picture {
    margin-top: 0vh;
    display: flex;
    width: 50%;
    display: block;
    float: right;

}


.projectOne{
    width: 75%;
}

#projectOneImg{
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
    align-self: right;

}
.projectTwo{
    width: 75%;
}
.picture2 {
    margin-top: 0vh;
    display: flex;
    width: 30%;
    display: block;
    float: right;

}
#picture3 {
    margin-top: 0vh;
    display: flex;
    width: 30%;
    display: block;
    float: right;

}



.bottom {
    padding: 0% 25% 5% 25%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
}

span{
    font-style: italic;
}

 @media screen and (max-width: 1000px) {

   .picture .picture2 #picture3{
       width: 100%;
   }
   #portfolio{
       height:300vh;
   }
} 

@media screen and (max-width: 800px) {
    .picture .picture2 #picture3{
        width: 100%;
    }
    #portfolio{
        height:350vh;
    }
}

@media screen and (max-device-height: 825px) {
    .picture .picture2 #picture3{
        width: 100%;
    }
    #portfolio{
        height:350vh;
    }
}

@media screen and (max-device-height: 750px) {
    .picture .picture2 #picture3{
        width: 100%;
    }
    #portfolio{
        height:350vh;
    }
}

@media screen and (max-device-height: 670px) {
    .picture .picture2 #picture3{
        width: 100%;
    }
    #portfolio{
        height:350vh;
    }
    #portfolio p{
        font-size: 2vh;
    }
}