#reachMe { 
  background: linear-gradient(45deg,white, var(--green),rgba(255, 96, 4, 0.979));
  position: absolute;
  width: 100% !important;
  overflow-x: hidden !important;
  height: 75vh;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  animation: gradient 10s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.text {
margin-top: 10%;
color: black; 
}

.text h2 {
font-size: 5vh;
text-transform: none;
}

.text p {
font-size: 5vh;
font-family: 'Pathway Gothic One', sans-serif;
}

#emailLink {
  position: absolute;
  justify-content: center;
  border: 2px solid black;
  text-transform: capitalize;
  letter-spacing: .15em;
  font-weight: bold;
  padding: 1vw;
 align-content:center;
 color: black;
 font-size: 4vh;
}
#emailLink:hover {
  color: red;
  border: 2px solid red;
}


@media screen and (min-width: 1100px) {
.emailLink {
   font-size: 2vh;
}
}

@media screen and (max-width: 800px) {
#reachMe { 
  height: 55vh;
}
.text {
  margin-top: 20px;
  margin-left: 13%;
}
.text h1 {
  font-size: 20px;
}
.text p {
  font-size: 20px;
}
.emailLink {
  margin-left: 0%;
}
}