@import url('https://fonts.googleapis.com/css?family=Damion|Great+Vibes|Pathway+Gothic+One|Paytone+One|Spinnaker&display=swap');
:root{
  --darkblue: #0a024b;
  --green: rgb(221, 218, 6);

}
#welcome-page {
  min-height: 100vh;
  width: 100% !important;
  overflow-x: hidden !important;
}

.welcomeHeader {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 5vw;
    text-transform: lowercase;
    font-weight: bold;
    letter-spacing: .15em;
}
  
.typeWrite {
  font-family: 'Damion', cursive;
  color:linen;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(50, end);
}
.welcome{
  font-family: 'Spinnaker', sans-serif;
  text-transform: uppercase;
  color: linen;
  font-size: 3vw;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
  
.top {
    background-color:var(--darkblue);
    padding: 10% 0% .5% 0%;
    justify-content: center;
    display: flex;
    height: 50%;
}
  
.bottom {
    padding: 0% 25% 0% 10%;
    justify-content: center;
    align-items: center;
    display: flex;
}
  
.exploreButton {
    position: absolute;
    border: 2px solid black;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-weight: bold;
    padding: 1.1%;
    font-size: 2vw;
}




@media screen and (min-width: 1100px) {
  .exploreButton {
     font-size: 17px;
  }
  #welcome-page {
    background-color:var(--darkblue);
    padding: 25vh 0vw 0vh 5vw;
    justify-content: left;
    display: flex;
    min-height: 75vh;
    width: 89vw !important;
}
}

@media screen and (max-width: 800px) {
  .bottom {
    padding: 0% 25vw 0% 7vw;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  #welcome-page {
    background-color:var(--darkblue);
    padding: 25vh 0vw 0vh 5vw;
    justify-content: left;
    display: flex;
    min-height: 75vh;
    width: 89vw !important;
  }

  .typeWrite {
    font-size: 8vw;
  }
}

@media screen and (max-width: 450px) {
  #welcome-page {
    padding: 25vh 5.5vw 0vh 5.5vw;
  }
}