#whoAmI {
  width: 100% !important;
  overflow-x: hidden !important;
  background: linear-gradient(360deg, var(--green) 50%, var(--darkblue) 50%);
  margin-bottom: 5vh;
}

#whoAmI h2 {
  font-family: 'Spinnaker', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 2.75vh;
  margin-left: 13%;
  align-self: left;
  align-items: left;
  justify-content: left;
}

#whoAmI p {
  width: 50%;
  color: white;
  font-size: 2.75vh;
  align-self: left;
  align-items: left;
  margin-left: 13%;
  line-height: 1.5em;
}

#whoAmI img {
  float: right;
  width: 20%;
  padding-right: 10%;
}

@media screen and (max-width: 800px) {
  #whoAmI {
    background-color: var(--darkblue);
    justify-content: left;
    display: flex;
    flex-direction: column;
    width: 100vw !important;
  }
  #whoAmI img {
    width: 50vh;
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  #whoAmI p{
    margin-left: 20vw;
    font-size: 2vh;
  }
}
